config/*
!config/dummy_dbconfig.cpp
!config/dummy_newDb.conf
!config/dummy_oldDb.conf
!config/sql.cnf
docs*
docs/
loadfiles/*
src/lib/Helpers.o
src/periodicInsert/fill
src/periodicInsert/main.o
src/readingFileGen/readingFileGen
src/readingFileGen/main.o
